.filter__button {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #ffffff;
  border-radius: 60px;
  padding: 6px 20px;
}

.filter__button:not(:last-child) {
  margin-right: 10px;
}

.btn {
  cursor: pointer;
}
.active {
  color: rgb(182, 114, 255);
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  border-color: rgb(182, 114, 255);
}
